*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("background.png");
    background-size: cover;
    background-position: center;
}
.image{
    width: 527px;
    height: 348.5px;
    border: 1px solid#fff;
    position: relative;
    display: flex;
}
.main{
    width: 650px;
    position: absolute;
    top: 450px;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 50px;
    color: #fff;
    border: 2px solid #231c38;
    border-radius: 10px;
    padding: 30px 40px;
}
.info{
    position: absolute;
    max-width: 925px;
    top: 248px;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 830px;
    color: #fff;
    border: 2px solid #231c38;
    border-radius: 10px;
    padding: 30px 40px;
}
.name{
    color: #fff;
    margin-top: 30px;
}
button{
    width: 1010px;
    height: 300px;
    padding: 15px 0px;
    display: block;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #231c38;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #231c38;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
.start{
    position: absolute;
    left: 820px;
    top: 400px
}
.start h1{
    font-size: 100px;
}
.navbar{
    position: fixed;
    z-index: 10000;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    background-color: #231c38;
    width: 100%;
}
.pfp{
    top: 35px;
    right: 20px;
    width: 50px;
    cursor: pointer;
    position: absolute;
}
.logo{
    width: 120px;
    position: absolute;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    right: 18%;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.search{
    --padding: 14px;
    display: flex;
    margin-left: 50%;
    padding: var(--padding);
    border-radius: 28px;
    border: 2px solid #231c38;
    background: #ffffff;
    width: 800px;
}
.search-input{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin-left: var(--padding);
    outline: none;
    border: none;
    flex: 1;
}
.search-input::placeholder,
.search-icon{
    color: rgb(0, 0, 0);
}
.starbound{
    margin-left: 120px;
    position: absolute;
    color: #fff;
    text-align: left;
}