*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 125vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    position: fixed;
    z-index: 10000;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    background-color: #231c38;
    width: 100%;
}
.pfp{
    top: 35px;
    right: 20px;
    width: 50px;
    cursor: pointer;
    position: absolute;
}
.logo{
    width: 120px;
    position: absolute;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    right: 18%;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.additions{
    width: 860px;
    position: absolute;
    top: 230px;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 90px;
    color: #fff;
    border: 2px solid #231c38;
    border-radius: 10px;
    padding: 30px 40px;
}
.last-course{
    top: 0;
    position: absolute;
    margin-left: 650px;
}
.daily{
    top: 0;
    position: absolute;
    margin-left: 400px;
    text-decoration: none;
    color: black;
}
.daily:hover{
    text-decoration: none;
}
.course_example{
    position: absolute;
    top: 280px;
    left: -11px;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
}
.course_example:hover{
    text-decoration: none;
}
.content{
    width: 860px;
    position: relative;
    top: 510px;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 90px;
    color: #fff;
    border: 2px solid #231c38;
    border-radius: 10px;
    padding: 30px 40px;
}
.content h1{
    font-size: 70px;
    margin-top: 20px;
}
.most-popular{
    width: 600px;
    position: absolute;
    top: 412px;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 1100px;
    color: #fff;
    border: 2px solid #231c38;
    border-radius: 10px;
    padding: 30px 40px;
}
.most-popular h1{
    font-size: 70px;
    margin-top: 10px;
}
button{
    width: 200px;
    padding: 15px 0px;
    display: block;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #231c38;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #231c38;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
.search{
    --padding: 14px;
    display: flex;
    margin-left: 50%;
    padding: var(--padding);
    border-radius: 28px;
    border: 2px solid #231c38;
    background: #ffffff;
    width: 800px;
}
.search-input{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin-left: var(--padding);
    outline: none;
    border: none;
    flex: 1;
}
.search-input::placeholder,
.search-icon{
    color: rgb(0, 0, 0);
}
.starbound{
    margin-left: 120px;
    position: absolute;
    color: #fff;
    text-align: left;
}
.scroll{
    margin-top: 350px;
    margin-left: 100px;
    color: #fff;
}
.wrapper{
    max-height: 340px;
    min-height: 330px;
    display: flex;
    overflow-x: auto;
    margin-right: 120px;
    margin-left: 90px;
    margin-top: 20px;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .item{
    min-width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background-color: #231c38;
    margin-right: 50px;
    scrollbar-color: #231c38;
}
.item1{
    border: 1px solid #fff;
    width: 400px;
    height: 210px;
    position: relative;
    display: flex;
    margin-right: 50px;
}
.item2{
    border: 1px solid #fff;
    width: 400px;
    height: 213px;
    position: relative;
    display: flex;
    margin-right: 50px;
    box-sizing: border-box;
}
.item2 img {
    width: 1000px;
    height: 100%;
    object-fit: cover;
}
.item3{
    border: 1px solid #fff;
    width: 400px;
    height: 213px;
    position: relative;
    display: flex;
    margin-right: 50px;
    box-sizing: border-box;
}
.item3 img {
    width: 1000px;
    height: 100%;
    object-fit: cover;
}
.item4{
    border: 1px solid #fff;
    width: 400px;
    height: 213px;
    position: relative;
    display: flex;
    margin-right: 50px;
    box-sizing: border-box;
}
.item4 img {
    width: 1000px;
    height: 100%;
    object-fit: cover;
}
.wrapper h2{
    top: 220px;
    color: #fff;
    position: absolute;
    display: flex;
}